# Stat 201 Project

...

asdkjhklsaJHD

In [21]:
DATASET_URL <- "https://raw.githubusercontent.com/MehrshadEsm/stat-201-project/main/data.csv"
DATA_FIELDS <- c("Daytime/evening attendance\t", "Course", "Marital status", "Tuition fees up to date", "Displaced", "Mother's qualification", "Father's qualification")

In [22]:
library(tidyverse)
library(tidymodels)
library(infer)

In [24]:
student_data_raw <- read_delim(DATASET_URL, delim = ";")
colnames(student_data_raw)

student_data <- 
    student_data_raw |>
    select(Target, all_of(DATA_FIELDS))

head(student_data)

Rows: 4424 Columns: 37
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr  (1): Target
dbl (36): Marital status, Application mode, Application order, Course, Dayti...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

 [1] "Marital status"
 [2] "Application mode"
 [3] "Application order"
 [4] "Course"
 [5] "Daytime/evening attendance\t"
 [6] "Previous qualification"
 [7] "Previous qualification (grade)"
 [8] "Nacionality"
 [9] "Mother's qualification"
[10] "Father's qualification"
[11] "Mother's occupation"
[12] "Father's occupation"
[13] "Admission grade"
[14] "Displaced"
[15] "Educational special needs"
[16] "Debtor"
[17] "Tuition fees up to date"
[18] "Gender"
[19] "Scholarship holder"
[20] "Age at enrollment"
[21] "International"
[22] "Curricular units 1st sem (credited)"
[23] "Curricular units 1st sem (enrolled)"
[24] "Curricular units 1st sem (evaluations)"
[25] "Curricular units 1st sem (approved)"
[26] "Curricular units 1st sem (grade)"
[27] "Curricular units 1st sem (without evaluations)"
[28] "Curricular units 2nd sem (credited)"
[29] "Curricular units 2nd sem (enrolled)"
[30] "Curricular units 2nd sem (evaluations)"
[31] "Curricular units 2nd sem (approved)"
[32] "Curricular units 2nd sem (grade)"
[33] "Curricular units 2nd sem (without evaluations)"
[34] "Unemployment rate"
[35] "Inflation rate"
[36] "GDP"
[37] "Target"

  Target   Daytime/evening attendance\t Course Marital status
1 Dropout  1                             171   1
2 Graduate 1                            9254   1
3 Dropout  1                            9070   1
4 Graduate 1                            9773   1
5 Graduate 0                            8014   2
6 Graduate 0                            9991   2
  Tuition fees up to date Displaced Mother's qualification
1 1                       1         19
2 0                       1          1
3 0                       1         37
4 1                       1         38
5 1                       0         37
6 1                       0         37
  Father's qualification
1 12
2  3
3 37
4 37
5 38
6 37